<div id="directory" ng-controller="DirectoryCtrl as directoryCtrl" ng-click="directoryCtrl.refresh()">
    <div class="scrollable">
      <div class="scrollable-content">
        <div class="list-group" ui-toggle="uiSidebarRight">
          <a class="list-group-item media" ng-click="directoryCtrl.chat(citizen);"  ng-repeat="citizen in directory | orderBy: 'username' | orderBy: '-online'">
              <div class="pull-left">
                  <i class="fa fa-user chat-user-avatar"></i>
              </div>
              <div class="media-body">
                  <h5 class="media-heading">{{citizen.username}} 
                    <span ng-show="citizen.unread" class="badge">{{citizen.unread || 0}}</span>
                    <span class="label pull-right" ng-class="getIconClass(citizen.status)">{{citizen.status}}</span>
                  </h5>
                  <small ng-switch on="citizen.online">
                      <span ng-switch-when="true">
                          <span class="label label-info">ONLINE</span>
                      </span>
                      <span ng-switch-default>
                          <span class="label label-default"><i>OFFLINE</i>
                          </span>
                      </span>
                  </small>
                  <br>
                  <span class="glyphicon glyphicon-map-marker"></span>{{citizen.location}}
                  <br>
                  <span class="glyphicon glyphicon-time"></span>{{citizen.timestamp}}
              </div>
          </a>
        </div>
      </div>
    </div>
</div>




  