<div id="directory" ng-controller="DirectoryCtrl as directoryCtrl" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ESN Directory</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="citizen in directoryCtrl.directory">
          <td>{{citizen.name}}</td>
          <td>{{citizen.online}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
