

<div ng-controller="navCtrl" class="navbar navbar-app navbar-absolute-top">
  <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
    ESN
  </div>
  <div class="btn-group pull-left">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
      <i class="fa fa-bars"></i> Menu
    </div>
  </div>
  <div class="btn-group pull-right" ui-yield-to="navbarAction">
    <div ui-toggle="uiSidebarRight" ng-show="loggedin" class="btn sidebar-right-toggle">
      <i class="fa fa-comment"></i> Directory
    </div>
  </div>
</div>