<div ui-content-for="title">
    <span>Share Status</span>
</div>
<div ng-controller="ShareStatusCtrl" class="panel panel-info">
            <div class="btn-group">
                <a href class="btn btn-default" ng-click="setStatus('Emergency')" ui-turn-on="button1" ui-shared-state="button1" ui-class="{'active': button1}" ui-exclusion-group="myButtons">Emergency</a>
                <a href class="btn btn-default" ng-click="setStatus('OK')" ui-turn-on="button2" ui-shared-state="button2" ui-class="{'active': button2}" ui-exclusion-group="myButtons">OK</a>
                <a href class="btn btn-default" ng-click="setStatus('Help')" ui-turn-on="button3" ui-shared-state="button3" ui-class="{'active': button3}" ui-exclusion-group="myButtons">Help</a>
            </div>
            <div>
                <button  type="button" class="btn btn-primary" ng-click="shareStatus()">Share</button>
            </div>
</div>