<div ng-controller="sidebarLeftCtrl" class="scrollable">
  <h1 class="scrollable-header app-name">{{username}}</h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#/" ng-show="!loggedin">Login <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/announce" ng-show="loggedin">Announcements <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/public" ng-show="loggedin">Public Wall<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/sharestatus" ng-show="loggedin">Share Status<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/search" ng-show="loggedin">search<i class="fa fa-chevron-right pull-right"></i></a>
      <!-- <a class="list-group-item" href="#/private" ng-show="loggedin">Chat Privately <i class="fa fa-chevron-right pull-right"></i></a> -->
      <a class="list-group-item" href="#/settings" ng-show="loggedin">Settings <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>
