<!DOCTYPE html>
<html>
  <head>
    <title>Emergency Social Network</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="libs/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="libs/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="libs/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap.js"></script>
    <!-- <script src="libs/angular-ui-router/release/angular-ui-router.js"></script> -->
    <script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
    <script src="libs/mobile-angular-ui/dist/js/mobile-angular-ui.gestures.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.8.js"></script>
    <script src="app.js"></script>
    <script src="js/controller/directory.js"></script>
    <script src="js/controller/login.js"></script>
    <script src="js/controller/logout.js"></script>
    <script src="libs/angular-md5/angular-md5.min.js"></script>
    <script src="js/controller/publicwall.js"></script>
    <script src="js/factory/messageService.js"></script>
    <script src="js/factory/usernameService.js"></script>
  </head>
  <body ng-app="ESNApp">
    <div ng-include="'views/navbar.html'"></div>
<!--     <div class="container" style="margin-top:50px">
      <ui-view></ui-view>
    </div> -->
    <div class="app-body" ng-class="{loading: loading}">
        <div class="app-content">
          <ng-view></ng-view>
        </div>
      </div>
  </body>
</html>