<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="libs/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/controller/login.js"></script>
      <script src="js/controller/directory.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id = "login_page">
    </div>
   	<div id = "main_page">
	    <div id = "directory">
	    </div>
	    <div id = "public_wall">
	    </div>
	    <div id = "logout_div">
	    </div>
    </div>
  </body>
</html>
