body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  opacity: 1;
  z-index: 1;
}

body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.4;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Yosemite_national_park_mirror_lake_2010u.JPG");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

a {
  color: #00B7FF;
}

#chat_publicly{
  border: 1px solid #ccc;
  min-height:500px;
  width: 70%;
}
#public_wall {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  height: 400px;
  overflow-y: scroll;
}
.publicMsgBox{
  border-bottom: 1px solid #ccc;
  padding:5px;
  margin: 5px;
}
.msgtext{
  margin: 3px;
}
#postmsg{
  padding: 15px;
  margin: 10px;
}