body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chat_publicly{
  border: 1px solid #ccc;
  min-height:500px;
  width: 70%;
}
#public_wall {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  height: 400px;
  overflow-y: scroll;
}
#postmsg{
  padding: 15px;
  margin: 10px;
}